@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --grey: #2c363f;
  --grey2: #1f1f1f;
  --grey3: #383838;
  --pink: #e75a7c;
  --poo: #cda434;
  --poohighlight: #ddb340;
  --poohighlight2:#f6d70f;
  --poohighdark: #dec10a;
  --offwhite: rgb(233, 233, 233);
  --white: rgb(255, 255, 255);
  --white2: #f3f3f4;
  --blue: #177e89;
  --darkblue: #195868;
}

body {
  background-color: var(--grey2);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 150px;
  background-color: var(--grey2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.logo {
  max-width: 250px;
  position: absolute;
  right: 44%;
  filter: brightness(100);
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

.log-sign,
.page-navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.log-sign a {
  transition: 150ms ease-in-out;
}

.nav-bar .sign-up {
  /* color: var(--grey2); */
}

.page-navigation-buttons a {
  margin-right: 80px; /* spacing between nav links*/
  padding: 0px 5px 8px 5px;
  transition: 150ms ease-in-out;
}

.page-navigation-buttons a:hover {
  color: var(--poohighlight2);
}

.sign-up {
  background-color: transparent;
  color: white;
  border-radius: 100px;
  border: 2px solid var(--poo);
  padding: 10px 30px 10px 30px;
  transition: 150ms ease-in-out;
  margin-left: 80px; /* spacing between login singup links*/
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.sign-up:hover {
  background-color: var(--poohighlight2);
  border-color: var(--poohighlight2);
  color: var(--grey2);
  /* background: linear-gradient(30deg, rgba(205, 164, 52, 1) 0%, rgba(255, 237, 28, 1) 100%); */
  /* background: linear-gradient(30deg, rgb(205, 164, 52) 0%, rgba(255, 237, 28, 1) 80%, rgb(242, 242, 242) 100%); */

}

.login:hover {
  color: var(--poohighlight2);
}

.search-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  aspect-ratio: 8/2;
  color: var(--white);

  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); */
}

.search-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px) saturate(0.7);
  background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
  z-index: -21;
}

.search-bar {
  position: absolute;
}

.search {
  border: 2px solid #ffffff;
  /* background-color: #000; */
  width: 700px;
  height: 30px;
  border-radius: 100px;
  padding: 5px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 5px 0;
}

.search-bar h1 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 0 4px 10px;
}

.search:active,
.search:focus {
  border: 2px solid #d8d8d8;
  outline: none;
}

.submit-btn {
  background-color: transparent;
  color: var(--white);
  border-radius: 100px;
  border: 2px solid var(--poo);
  padding: 13px 13px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
  backdrop-filter: blur(5px) brightness(0.8);
}

.submit-btn:hover {
  background-color: var(--poohighlight2);
  border-color: var(--poohighlight2);
  color: var(--grey2);
}

.categories {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.categories a {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
  min-width: 100px;
  border-radius: 100px;
  /* border: 2px solid var(--poo); */
  padding: 8px 20px;
  margin: 10px 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
  text-align: center;
  backdrop-filter: blur(5px) brightness(0.4);
}

.categories a:hover {
  background-color: var(--poohighlight2);
  /* background: linear-gradient(30deg, rgb(205, 164, 52) 0%, rgba(255, 237, 28, 1) 80%, rgb(242, 242, 242) 100%); */
  color: var(--grey2);
  transform: translateX(2px) translateY(-2px);
}

.gallery {
  position: relative;
  padding: 15px 150px 15px 150px;
  /* background-color: var(--grey3); */
  background-color: #292929;
  box-shadow: 0px -20px 18px -20px rgba(0, 0, 0, 0.5);
  z-index: 898;
}

.gallery h1 {
  display: inline-block;
  color: var(--white);
  margin: 25px 0 25px 10px;
} 

.gallery .see-more-btn {
  position: absolute;
  right: 170px;
  bottom: 30px;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
  border-radius: 100px;
  border: 2px solid var(--poo);
  padding: 8px 20px;
  margin: 10px 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
  backdrop-filter: blur(5px) brightness(0.8);
}

.gallery .see-more-btn:hover {
  background-color: var(--poohighlight2);
  border-color: var(--poohighlight2);
  color:  var(--grey2);
}

.items {
  color: var(--white);
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  overflow-x: scroll;
  border-radius: 20px;
  padding-bottom: 10px;
  padding: 10px;
}

.item {
  padding: 10px 25px 10px 25px;
  /* background-color: var(--blue); */
  background-color: var(--grey2);
  border-radius: 20px;
  /* display: flex;
  flex-direction: column; */
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 150ms ease-in-out;
  /* text-shadow: 0px 1px 2px rgba(0, 0, 0, 0); */
}

.item:hover {
  /* background-color: var(--grey3); */
  transform: translateX(2px) translateY(-3px);
  box-shadow: -4px 5px 8px rgba(99, 99, 99, 0.3);
}

.item-image {
  aspect-ratio: 3/2;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  filter: saturate(0.5);
  transition: 150ms ease-in-out;
}

.item-image:hover {
  filter: saturate(1);
}

.item-link-text {
  display: inline-block;
  margin: 10px 0 0 0;
  color: var(--poohighlight);
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  transition: 150ms ease-in-out;
}

.item-link-text:hover {
  /* color: #9b7e2d; */
  color: var(--poohighlight2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: #fefefe; */
  background-color: var(--grey2);
  margin: auto;
  padding: 50px 80px;
  width: 900px;
  height: 720px;
  border-radius: 25px;
  color: var(--white);
  overflow-y: scroll;
}

.sub-logo {
}

/* The Close Button */
.close {
  position: fixed;
  right: 500px;
  color: var(--white);
  font-size: 28px;
  font-weight: bold;
  transition: 150ms ease-in-out;
  z-index: 999;
}

.close:hover,
.close:focus {
  color: var(--poohighlight2);
  text-decoration: none;
  cursor: pointer;
}

.form {
  border-radius: 50px;
}

.form-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.inputs input {
  display: flex;
  margin: 2px 0 2px 0;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #fcfcfc;
  border: 2px solid #fcfcfc;
}

.inputs input:active,
.inputs input:focus {
  border: 2px solid #d8d8d8;
  outline: none;
}

.inputs label {
  margin: 0 10px 0 10px;
  font-weight: 500;
}

.submit-details {
  background-color: transparent;
  color: var(--white);
  font-size: 18px;
  border-radius: 100px;
  border: 2px solid var(--poo);
  padding: 10px 25px;
  margin-left: auto;
  cursor: pointer;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); */
  /* margin-left: 795px; */
  /* margin-top: 520px; */
  transition: 150ms ease-in-out;
}

.submit-details:hover {
  background-color: var(--poohighlight2);
  border-color: var(--poohighlight2);
  color: var(--grey2);
}

.background-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  filter: opacity(0.05);
  max-width: 700px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e9e9e900;
}

::-webkit-scrollbar-thumb {
  /* background: #b8b8b8; */
  /* background-color: rgb(63, 138, 148); */
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #979797; */
  /* background-color: rgb(41, 104, 112); */
  background-color: rgb(107, 107, 107);
}
