@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(215, 215, 215);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    
}

.nav-top{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: white;
}

.logo{
    max-width: 150px;
    position: absolute;
    right: 46%;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.log-sign, .page-navigation-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.log-sign a{
    margin-left: 100px;
}

.page-navigation-buttons a{
    margin-right: 100px;
}

.sign-up{
    background-color: #e75a7c;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
}

.nav-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(255, 255, 255);
}

.search {
    border: 2px solid #aeaeae; 
    width:500px;
    border-radius: 100px;
    padding: 5px 20px;
}

.search:active, .search:focus{
    border: 2px solid #888888; 
    outline: none;
}

.submit-btn{
    background-color: #ffffff;
    border-radius: 100px;
    border: 2px solid #aeaeae;
    padding: 5px 8px;
    margin-left: 10px;
    cursor: pointer;
}